{{ project.emit_cpp_header_guard_begin(service.id.name.as_str(), "_IMPL") }}

#include <{{ project.bumpy_case|lower }}/meta/services/{{ service.id.bumpy_case|lower }}meta.h>

{{ project.emit_cpp_namespace_begin() }}
/******************************************************************************
 * \class  {{ service.id.bumpy_case }}
 * \author jackmake
 ******************************************************************************/
class {{ service.id.bumpy_case }} : public {{ service.id.bumpy_case }}Meta
{
public:
    /**************************************************************************
     * Constructor/Destructors
     **************************************************************************/
    {{ service.id.bumpy_case }}(aos::jack::Engine& bdi, std::string_view name);
    {{ service.id.bumpy_case }}(const {{ service.id.bumpy_case }}* other, std::string_view name);
    ~{{ service.id.bumpy_case }}() override {}

    /**************************************************************************
     * Action Handlers
     **************************************************************************/
    {%- for action in workspace.get_actions_used_by_entity(service.id.as_ref()) %}
    aos::jack::Event::Status on{{ action.id.bumpy_case }}({{ workspace.get_action_cpp_function_prototype_args(action).as_str() }}) override;
    {%- endfor %}

    void subscribe(entityx::Entity entity) {}
};

{{ project.emit_cpp_namespace_end() }}
{{ project.emit_cpp_header_guard_end(service.id.name.as_str(), "_IMPL") }}
